/* Load custom fonts */

@font-face {
    font-family: Dosis;
    src: url('../fonts/dosis.otf');
}

@font-face {
    font-family: 'Bebas Neueu';
    src: url('../fonts/bebas\ neue.ttf');
}

/* Reset CSS properties
This helps make our style more consistent across browsers */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Tell browsers that we want to use the entire page */

html, body {
    width: 100%;
    height: 100%;
}

/* This wraps around the site's contents */

.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

/* Headers should only take up 10% of the page */

header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* This navigation bar will be used on all webpages. We use CSS' flexbox to
position the menu items contained withing */

.navbar {
    background-color: #ffffff;
    font-family: 'Bebas Neueu', Impact, Haettenschweiler, sans-serif;
    color: #11C9FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Give the home icon some space on the left */

.nav-home {
    padding-left: 40px;
}

/* Ensure that the navigation pages go horiztonally */

.nav-links {
    display: flex;
    flex-direction: row;
}

/* Navigation buttons have space between them and should be visible */

.button {
    padding: 30px;
    text-decoration: none;
    font-size: 32px;
}

/* Let's remove the weird color we see after clicking a link  */

a, a:visited, a:hover, a:active {
    color: inherit;
}

/* It's good to show the user that they're about to click a button. This changes
are applied when our mouse hovers over the button */

.button:hover {
    color: #ff9411;
    text-decoration: underline;
    text-decoration-color: #ff1d11;
}

/* Make the home button a bit bigger */

.home-button {
    font-size: 44px;
}

.main {
    background-color: #11C9FF;
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffffff;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* The contents of our welcome page. We'll put a picture and large text
inside it */

.banner {
    margin: 40px auto;
    text-align: center;
}

/* Give our picture a circle border */

.banner img {
    border: 10px solid #EAEAEA;
    border-radius: 50%;
}

.banner h1 {
    font-size: 144px;
}

.banner p {
    font-size: 32px;
}

/* Our footer is simple, we add a minimum height so that it can be easily seen
on mobile devices too */

footer {
    min-height: 50px;
    background-color: #ffffff;
    font-family: Dosis, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Links in the footer should also change colour */

footer a:hover {
    color: #ff9411;
    text-decoration-color: #ff1d11;
}

/* This is the main container for our 2nd page music, and all other pages we add */

.content {
    background-color: #11C9FF;
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffffff;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Sub pages have a header */

.heading {
    padding: 20px;
    border-bottom: 5px solid #EAEAEA;
}

.heading h2 {
    font-size: 50px;
    text-transform: uppercase;
}

/* We'll put 2 songs in a row */

.songs {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.song {
    margin: 0 10px;
    flex: 0.25;
}